<h2>Total Stations: <%= facade.closest_stations[0].total_results %></h2>


<h2>Results sorted by distance to travel:</h2>
<% facade.closest_stations.each do |station| %>
  <ul>
    <li>Station Name: <%= station.station_name %></li>
    <li>Access Times: <%= station.access_days_time %></li>
    <li>Fuel Type: <%= station.fuel_type_code %></li>
    <li>Distance: <%= station.distance %></li>
    <li>Street Address: <%= station.street_address %></li>
  </ul>
<% end %>
